* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}

/* common css */
h1 {
  font-family: "Bebas Neue";
  font-size: 100px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100px;
  color: #363958;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6c6c6c;
}
.btn {
  height: 60px;
  width: 170px;
  font-weight: 500px;
  font-size: 16px;
  background-image: linear-gradient(#ff8063, #f46060);
  border: none;
  border-radius: 7px;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
h2 {
  font-weight: bold;
  font-size: 48px;
  color: #363958;
  text-transform: uppercase;
}

/* common css */

.first-part {
  height: 800px;
  padding-left: 8%;
}

#hello {
  margin-top: 200px;
}

h1 span {
  color: #ff8367;
}

.half-width p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 18px 0 36px 0;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 2%;
}
.half-width img {
  width: 90%;
}
.second-part {
  height: 670px;

  padding-left: 8%;
}

#about {
  margin-left: 230px;
  margin-top: 87px;
}
#about-img {
  margin-top: -140px;
}
.third-part {
  height: 950px;
  background-color: #e5e5e5;
}

.third-part h2 {
  text-align: center;
  padding: 124px 0;
  margin-top: 100px;
}
h2 span {
  color: #f46060;
}
.all-portfolio {
  margin-left: 8%;
}
.portfolio {
  margin-right: 2%;
  height: 450px;
  width: 500px;
  background-color: #fff;
  border-radius: 19.74px;
  display: inline-block;
}
.portfolio img {
  width: 460px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 20px 20px;
}

.portfolio p {
  padding: 0 20px 20px;
}
.contact {
  padding: 100px 0;
  text-align: center;
  background-color: rgba(250, 194, 208, 0.349);
}
.contact h2 {
  padding: 30px 0;
}

.name-form,
email-form {
  padding: 30px;
}
.form-wrapper label {
  margin: 0 30px;
}
.form-wrapper button {
  margin-top: 80px;
}
.form-wrapper input {
  padding: 10px 30px;
}

.last-part {
  height: 400px;
  background-image: url(/images/Group_33094_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 906px;
}
.last-part h2 {
  font-size: 35px;
  font-weight: 700;
  /* padding-left: 68%; */
  margin-left: 68%;
  padding-top: 25%;
  color: #fff;
}
.last-part .btn {
  margin-top: 23%;
  margin-left: 40%;
}
